@model Application.Dtos.ProductDto

<div class="modal fade bd-example-modal-lg" id="showModal_@Model.Id" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body p-8">
                <div class="position-absolute top-0 end-0 me-3 mt-3">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <partial name="~/Views/Shared/ProductsPartial/GetProductsListPartial/GetProductsListImagesPartial.cshtml" for="@Model" />
                    </div>
                    <div class="col-lg-6">
                        <div class="ps-lg-8 ps-md-8">
                            <h3 class="mt-5">@Model.Name</h3>
                            <div class="mb-3">
                                <partial name="~/Views/Shared/ProductsPartial/GetProductsListPartial/GetProductsListReviewsAveragePartial.cshtml" for="@Model" />
                                <span style="color:grey">reviews</span>
                            </div>
                        </div>
                        <div class="fs-4">
                            <partial name="~/Views/Shared/ProductsPartial/GetProductsListPartial/GetProductsListPricePartial.cshtml" for="@Model" />
                        </div>
                        <hr class="my-6">
                        <div>
                            <partial name="~/Views/Shared/ProductsPartial/GetProductsListPartial/GetProductsListTablePartial.cshtml" for="@Model" />
                        </div>
                        @* <div>
                        <!-- input -->
                        <!-- input -->
                        <div class="input-group input-spinner  ">
                        <input type="button" value="-" class="button-minus  btn  btn-sm " data-field="quantity">
                        <input type="number" step="1" max="10" value="1" name="quantity" class="quantity-field form-control-sm form-input   ">
                        <input type="button" value="+" class="button-plus btn btn-sm " data-field="quantity">
                        </div>
                        </div> *@
                        <hr class="my-6">
                        <div class="row g-2" style="margin-top: 50px;">

                            <div class="col-lg-4 col-md-5 col-6 d-grid">
                                <a asp-controller="ShoppingCart" asp-action="AddToCart" class="btn btn-primary">
                                    <i class="feather-icon icon-shopping-bag me-2"></i>
                                    Add to cart
                                </a>
                            </div>
                            <div class="col-lg-4 col-md-5 col-6 d-grid">
                                <a asp-controller="Products" asp-action="Details" asp-route-Id="@Model.Id" class="btn btn-primary">
                                    <i class="feather-icon icon-shopping-bag me-2"></i>
                                    More details
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
