@using Application.Dtos.Products.Technology.Smartphones
@model ProductViewModel
@{
    var colorDisplayed = false;
    var ramDisplayed = false;
    var storageGbDisplayed = false;
    var counterRam = 0;
    var counterColor = 0;
    var counterInternal = 0;
    var smartphoneDtos = Model.GetMatchingProductsDto?.GetMatchingSmartphonesDto();
}

<style>
    .style_spects_span {
        font-size: 1rem;
        font-weight: 400;
    }

    .btn_detail_custom {
        object-fit: cover;
        border: solid 1px #DCDCDC;
        border-radius: 5px;
        padding: 5px;
        line-height: 20px;
        font-size: 10px;
        font-weight: bold;
        transition: transform 0.5s ease;
    }

        .btn_detail_custom:hover {
            transform: scale(0.8);
            border: 1px solid #8ac926;
        }
</style>

@{
    var enumerable = smartphoneDtos as SmartphoneDto[] ?? smartphoneDtos!.ToArray();
}

<div class="row">
    @foreach (var items in enumerable)
    {
        if (items.Id != Model.ProductDto.Id || colorDisplayed)
        {
            continue;
        }

        <span class="style_spects_span">Color: <b id="product-color">@items.CommonPropertiesObjectValue?.Color</b></span>
        colorDisplayed = true;
    }
</div>

<div class="row">
    @foreach (var item in enumerable)
    {
        <div class="col col-sm-2 col-md-4 col-lg-2">
            <a asp-controller="Products" asp-action="Details" asp-route-id="@item.Id">
                <img src="@Url.Content(item.ImagesUrl?[0])" alt="@item.Name" class="img-fluid secondary-image h-100" onclick="document.getElementById('main-image').src = '@item.ImagesUrl?[0]';" onmouseover="document.getElementById('main-image').src = '@item.ImagesUrl?[1]'; document.getElementById('product-color').textContent = '@item.CommonPropertiesObjectValue?.Color';" onmouseout="document.getElementById('main-image').src = '@item.ImagesUrl?[0]'; document.getElementById('product-color').textContent = '@item.CommonPropertiesObjectValue?.Color';">
            </a>
        </div>
        counterColor++;
        if (counterColor >= 3) break;
    }
</div>

<div class="row">
    @foreach (var items in enumerable)
    {
        if (items.Id != Model.ProductDto.Id || ramDisplayed)
        {
            continue;
        }

        <span class="style_spects_span mt-3">Ram: <b id="product-ram">@items.StorageObjectValue?.RamGb</b></span>
        ramDisplayed = true;
    }
</div>

<div class="row">
    @foreach (var item in enumerable)
    {
        <div class="col col-sm-2 col-md-4 col-lg-2">
            <a asp-controller="Products" asp-action="Details" asp-route-id="@item.Id">
                <span class="btn btn_detail_custom" onmouseover="document.getElementById('product-ram').textContent = '@item.StorageObjectValue?.RamGb';" onmouseout="document.getElementById('product-ram').textContent = '@item.StorageObjectValue?.RamGb';">
                    @item.StorageObjectValue?.RamGb GB
                </span>
            </a>
        </div>
        counterRam++;
        if (counterRam >= 3) break;
    }
</div>

<div class="row">
    @foreach (var items in enumerable)
    {
        if (items.Id != Model.ProductDto.Id || storageGbDisplayed)
        {
            continue;
        }

        <span class="style_spects_span mt-2">Internal Memory: <b id="product-intMem">@items.StorageObjectValue?.StorageGb</b></span>
        storageGbDisplayed = true;
    }
</div>

<div class="row">
    @foreach (var item in enumerable)
    {
        <div class="col col-sm-2 col-md-4 col-lg-2">
            <a asp-controller="Products" asp-action="Details" asp-route-id="@item.Id">
                <p class="btn btn_detail_custom" onmouseover="document.getElementById('product-intMem').textContent = '@item.StorageObjectValue?.StorageGb';" onmouseout="document.getElementById('product-intMem').textContent = '@item.StorageObjectValue?.StorageGb';">
                    @item.StorageObjectValue?.StorageGb GB
                </p>

            </a>
        </div>
        counterInternal++;
        if (counterInternal >= 3) break;
    }
</div>