@model ProductViewModel
<h6 style="font-weight: 600;font-size: 15px;">
    What you need to know about this product
</h6>

@foreach (var items in Model.SmartphonesDto)
{
    if (items.Id == Model.ProductDto.Id)
    {
        <partial name="~/Views/Products/DetailsPartial/Technology/Smartphones/_DetailsSmartphonePartial.cshtml" for="@items" />
    }
}
@foreach (var items in Model.GamesDto)
{
    if (items.Id == Model.ProductDto.Id)
    {
        <partial name="~/Views/Products/DetailsPartial/Technology/Games/_DetailsGamePartial.cshtml" for="@items" />
    }
}

@* else if (Model.GetMatchingProductsDto.MatchesCategory(Model.ProductDto))
{
    var itemToRender = Model.SmartphonesDto.FirstOrDefault(item => item.Id == Model.ProductDto.Id);
    if (itemToRender != null)
    {
        <partial name="~/Views/Game/DetailsPartial.cshtml" for="@itemToRender" />
    }
}
else if (Model.GetMatchingProductsDto.MatchesCategory(Model.ProductDto))
{
    var itemToRender = Model.SmartphonesDto.FirstOrDefault(item => item.Id == Model.ProductDto.Id);
    if (itemToRender != null)
    {
        <partial name="~/Views/Tshirt/Details.cshtml" for="@itemToRender" />
    }
}
else if (Model.GetMatchingProductsDto.MatchesCategory(Model.ProductDto))
{
    var itemToRender = Model.SmartphonesDto.FirstOrDefault(item => item.Id == Model.ProductDto.Id);
    if (itemToRender != null)
    {
        <partial name="~/Views/Shoes/Details.cshtml" for="@itemToRender" />
    }
}
 *@