@model ProductViewModel
<style>
    .specs_PurchaseOptions {
        color: #3483fa;
        font-size: 14px;
        font-weight: 600;
    }
</style>

<h6 style="font-weight: 600;font-size: 15px;">
    Other purchase options
</h6>

<div class="mb-2">
    @if (Model.PriceIsHigherThanServiceBooleans!.IsPriceHigherThanTwoThousand)
    {
    <a asp-controller="Products" asp-action="PriceIsHigherThanTwoThousand">
        <span class="specs_PurchaseOptions">@Model.CountProductByPriceValuable?.CountPriceIsHigherThanTwoThousand  new products from @Model.ProductDto.PriceObjectValue?.Price.ToString("C")</span>
    </a>
    }
    @if (Model.PriceIsHigherThanServiceBooleans.IsPriceIsBetweenTwoHundredAndAThousand)
    {
    <a asp-controller="Products" asp-action="PriceIsBetweenTwoHundredAndAThousand">
        <span
            class="specs_PurchaseOptions">@Model.CountProductByPriceValuable?.CountPriceIsBetweenTwoHundredAndAThousand
            new products from @Model.ProductDto.PriceObjectValue?.Price.ToString("C")</span>
    </a>
    }
    @if (Model.PriceIsHigherThanServiceBooleans.IsPriceIsLowerThanOneHundred)
    {
    <a asp-controller="Products" asp-action="PriceIsLowerThanOneHundred">
        <span class="specs_PurchaseOptions">@Model.CountProductByPriceValuable?.CountPriceIsLowerThanOneHundred  new products from @Model.ProductDto.PriceObjectValue?.Price.ToString("C")</span>
    </a>
    }
</div>