@model Application.Dtos.CartDto.ShoppingCartItemDto

<style>
    a {
        text-decoration: none;
    }

</style>

<div class="container mt-2">
    <div class="row">
        <div class="col-md-3">
            <a asp-controller="Products" asp-action="Details" asp-route-id="@Model.Product?.Id">
                <div class="mx-auto justify-content-center d-flex">
                    <span>
                        <img src="@Url.Content(Model.Product?.ImagesUrl?[0])" style="object-fit:contain;width:150px;height:150px" alt=""/>
                    </span>
                </div>
            </a>
        </div>
        <div class="col-md-9">
            <span style="font-size:18px;">@Model.Product?.Name</span>
            @if (Model.Product?.FlagsObjectValue?.IsDailyOffer == true)
            {
                <div>
                    <a asp-controller="Products" asp-action="DailyOffer">
                        <span class="badge" style="background-color:deepskyblue">Daily Offer</span>
                    </a>
                    <a asp-controller="Products" asp-action="Index" asp-route-categoryStr="@Model.Category?.Name">
                        <span style="color:gray">@Model.Category?.Name</span>
                    </a>
                </div>
                <div>
                    <span style="font-weight:600;font-size:18px">@Model.Product.PriceObjectValue?.Price.ToString("C")</span><br>
                    <span style="font-weight:600;font-size:12px">for up to 12x @((Model.Product.PriceObjectValue!.Price / 12).ToString("C")) without interest</span>
                </div>
            }
            else if (Model.Product?.FlagsObjectValue?.IsBestSeller == true)
            {
                <div>
                    <a asp-controller="Products" asp-action="DailyOffer">
                        <span class="badge" style="background-color:red">Best Seller</span>
                    </a>
                    <a asp-controller="Products" asp-action="Index" asp-route-categoryStr="@Model.Category?.Name">
                        <span style="color:gray">@Model.Category?.Name</span>
                    </a>
                </div>
                <div>
                    <span style="font-weight:600;font-size:18px">@Model.Product.PriceObjectValue?.Price.ToString("C")</span><br>
                    <span style="font-weight:600;font-size:12px">for up to 8x @((Model.Product.PriceObjectValue!.Price / 8).ToString("C")) without interest</span>
                </div>
            }
            else
            {
                <div>
                    <a asp-controller="Products" asp-action="Index" asp-route-categoryStr="@Model.Category?.Name">
                        <span class="badge" style="background-color:darkgray;font-size:14px;color:ghostwhite">@Model.Category?.Name</span>
                    </a>
                </div>
                <div class="mb-3">
                    <span style="font-weight:600;font-size:18px">@Model.Product?.PriceObjectValue?.Price.ToString("C")</span><br>
                </div>
            }
            <div>
                @if (Model.Product?.Stock - Model.Quantity <= 0)
                {
                    <span style="color:red;font-size:13px">@((Model.Product?.Stock - Model.Quantity)) out of stock</span>
                }
                else
                {
                    <span style="color:green;font-size:13px">@((Model.Product?.Stock - Model.Quantity)) in stock</span>
                }
            </div>
            <div>
                <a asp-controller="ShoppingCart" asp-action="RemoveToCartItem" asp-route-id="@Model.Product?.Id"
                   style="text-decoration:none">
                    <i class="fa-solid fa-minus"></i>
                </a>
                &nbsp;
                <span>@Model.Quantity</span>
                &nbsp;
                @*Verifica se a quantidade do item  é diferente do estoque do produto correspondente*@
                @if (Model.Quantity < Model.Product?.Stock)
                {
                    <a asp-controller="ShoppingCart" asp-action="AddToCartItem" asp-route-id="@Model.Product.Id">
                        <i class="fa-solid fa-plus"></i>
                    </a>
                }
                <i class="a-icon a-icon-text-separator sc-action-separator" role="img" aria-label="|"></i>
                <a asp-controller="ShoppingCart" asp-action="Remove" asp-route-id="@Model.Product?.Id">
                    <span style="color:gray">Delete</span>
                </a>
            </div>
        </div>
    </div>
    <hr/>
</div>